@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.alert, .done {
    background: #e44e4e;
    color: white;
    padding: 10px;
    text-align: center;
    border: 1px solid #b32929;
    position: fixed; /* atau absolute */
    top: 75px; /* atur sesuai kebutuhan */
    right: 20px; /* atur sesuai kebutuhan */
    z-index: 1000; /* memastikan elemen ini berada di atas elemen lain */
    width: 300px; /* lebar tetap agar mudah diatur */
    border-radius: 5px;
    animation: slideIn 0.5s ease-out; /* Animasi muncul */
}

.done {
    background: #4CAF50;
    border: 1px solid #4CAF50;
}

a.alert a.done {
    color: rgb(55, 180, 221);
    text-decoration: none;
}

.alert, .done {
    /* Pastikan elemen mulai dengan opacity 0 */
    opacity: 0;
    animation: slideIn 0.5s ease-out forwards; /* Animasi muncul */
}
