.alert{
	background: #e44e4e;
	color: white;
	padding: 10px;
	text-align: center;
	border:1px solid #b32929;
}

.done{
	background: #40ee66;
	color: white;
	padding: 10px;
	text-align: center;
	border:1px solid #2bba58;
}