/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: flex-end;
    height: 120vh;
    overflow: hidden;
    /* Menambahkan background image */
    background-image: url('../assets/img/background.jpg'); /* Ganti 'background.jpg' dengan path gambar Anda */
    background-size: 100% 120%; /* Menyesuaikan ukuran gambar dengan ukuran window */
    background-repeat: no-repeat; /* Menghindari pengulangan gambar */
}

.login-container {
    width: 340px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px 0 0 10px;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
    min-height: 100vh; /* Set min-height to cover the full viewport height */
    max-height: 90vh; /* Tentukan tinggi maksimum */
    overflow-y: auto; /* Aktifkan overflow */
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    margin-bottom: 100px; /* Tambahkan margin bawah */
}

.login-form {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #007bff;
}

.login-form h2 {
    margin-bottom: -5px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
    position: relative;
    width: 100%; /* Menyamakan lebar input dengan container */
    font-weight: bold; /* Add bold */
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/*Bagian logo */
.logo_items {
    display: flex;
    align-items: center;
    
}
.nav_image img {
    width: 75px;
    height: 75px;
}
.logo_name {
    margin-left: 10px; /* Atur jarak antara gambar dan teks jika diinginkan */
    font-size: 35px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

#verify {
    text-align: center; /* Untuk memusatkan teks */
    color: #007bff; /* Warna biru */
    margin-top: 20px; /* Spasi atas untuk memisahkan dari elemen lainnya */
}

#verify a {
    color: #007bff; /* Warna biru untuk link */
    text-decoration: underline; /* Garis bawah untuk link */
}

#verify a:hover {
    color: #0056b3; /* Warna biru yang lebih gelap saat link dihover */
}

#regist {
    text-align: center; /* Untuk memusatkan teks */
    color: #007bff; /* Warna biru */
    margin-top: 20px; /* Spasi atas untuk memisahkan dari elemen lainnya */
}

#regist a {
    color: #007bff; /* Warna biru untuk link */
    text-decoration: underline; /* Garis bawah untuk link */
}

#regist a:hover {
    color: #0056b3; /* Warna biru yang lebih gelap saat link dihover */
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 68%; /* Moved down slightly */
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: #007bff;
}
button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    body {
        justify-content: center;
    }
    
    .login-container {
        width: 100%;
        height: 100vh;
        border-radius: 0;
        box-shadow: none;
        padding: 20px 10%;
    }

    .form-group input, 
    button[type="submit"] {
        max-width: 320px;
        width: 100%;
        box-sizing: border-box;
        margin: 0 auto;
    }
}

.terms {
    font-size: 10px;
    text-align: center;
    margin-bottom: 5px;
}

.inilink {
    text-decoration: none;
    margin-bottom: 5px;
}